<section class="swiper-product">

    <div class="swiper">
        <h2 class="title">{{ section.settings.heading }}</h2>
        <div class="swiper-wrapper">
            {% for product in collections[section.settings.swiper_collection].products %}

                <div class="swiper-slide">
                    <div class="card">
                        {% unless product.tags == empty %}
                            <span class="card__badge">
                            {{ product.tags }}
                            </span>
                        {% endunless %}
                        <a class="card__link" href="{{ product.url }}">
                            <img class="card__img" src="{{ product.featured_image | img_url: 'large' | format: 'jpg' }}"
                                 alt="{{ block.settings.slide_heading }}">
                        </a>
                        <a class="card__link" href="{{ product.url }}">
                            <h3 class="card__title">{{ product.title }}  </h3>
                        </a>

                        <p class="card__description">
                            {{ product.description | truncatewords: 13, '...' }}
                        </p>
                        <div class="card__summ"><span class="card__price">
                {{ product.price | money }}
                        </span>
                            <span class="card__price-compare">
                            {{ product.compare_at_price | money }}
                        </span></div>

                        <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ product_selected_or_first_available_variant.id }}"/>
                            <input type="submit" value="Add to bag" class="btn"/>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-prev"><span></span></div>
        <div class="swiper-button-next"><span></span></div>

    </div>
</section>
{% javascript %}

{% endjavascript %}
{% schema %}
{
  "name": "Swiper product",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "add your heading"
    },
    {
      "type": "collection",
      "id": "swiper_collection",
      "label": "Chose Collection to show on slides"
    }
  ],
  "presets": [
    {
      "name": "Swiper product",
      "category": "collections"
    }
  ]
}
{% endschema %}
